body{
    height: 100vh;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    align-items: center;
}
.menu{
    width: 25%;
    height: 50px;
}
form{
    width: 25%;
}
.result{
    font-size: large;
}
.hidden{
    display: none;
}